<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Světla v objektu</title>
	<link rel="stylesheet" href="static/layout.css">
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script src="static/layout.js"></script>
</head>
<body>
	<p> Mód: <span id="mod"></span></p>
	<table id="spodek">
	<tr></tr>
	<tr></tr>
	<tr></tr>
	</table>
	<table id="vrsek">
	<tr><td id="loznice"></td></tr>
	<tr><td id="chodba"></td></tr>
	<tr><td id="schody"></td></tr>
	</table>
<input type="button" value="Potvrdit změny" onclick="setColors()">
<input type="button" value="Zrušit změny" onclick="resetColors()">
<input type="button" value="Přepnout na automat">
</body>
</html>
